

html {
    scroll-behavior: smooth;
}

nav {
    padding-left: 30px;
}

.anchoPage {
    width: 100%;
}

div {
    margin-left: 0px !important;

    margin-right: 0px !important;
}

body {
    background-color: black;
};

.row {
    margin-right: 0 !important;
    --bs-gutter-x: 0 !important;
}

.nav {
    background-color: black !important;
    --bs-bg-opacity: 0 !important;
}

.bg-light {
    background-color: black !important;
    --bs-bg-opacity: 0 !important;
}

.itemNav {
    color: white !important;
}

.ulClass {
    background-color: black !important;
}

/* Inicio INDEX */

.contenedorTitulo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


.rowCarrousel {
    padding-top: 90px;
}

.fotosIndex {
    width: 450px;
}

.elementoIndex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonParaJson {
    font-family:'Roboto flex', sans-serif ;
}


/* Fin index */

/* Inicio PAGE PRODUCTOS */
    .imgCarrito {
        width: 40px;
    }

    .contenedorCarrito {
        display: flex;
        justify-content: flex-end;
    }

    .botonCarrito {
        background-color: black;
        border: black;
    }

    #contenedorProductos {
        display: flex;
        justify-content: center;
    }

    .imgBorrarCarrito {
        width: 40px;
    }
/* Fin PAGE PRODUCTOS */

/* Inicio PAGE QUIENES SOMOS */
.filaPrincipal {
    margin-top: 150px;
}

.fotoQuienesSomos {
    width: 350px;
    border-radius: 100%;
}

.elementoQuienesSomos {
    display: flex;
    justify-content: center;
}

.rolQuienesSomos {
    opacity: 50%;
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
    font-family: 'Roboto Flex', sans-serif;
}

h3 {
    color: aliceblue;
}

h4 {
    color: aliceblue;
}

h5 {
    color: aliceblue;
}

#devCard {
    margin-top: 150px;
}

/* Fin PAGE QUIENES SOMOS */